@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: radial-gradient(circle, rgba(173,0,0,1) 0%, rgba(0,0,0,1) 100%);
    min-height: 100vh;
}

.gradient {
    background: none;
    transition: background 0.3s ease-in-out;
}

.gradient:hover {
    background: radial-gradient(circle, rgb(204, 0, 0) 0%, rgb(49, 0, 0) 55%);
    border: none;
}

.gradient-active {
    background: radial-gradient(circle, rgba(173, 0, 0, 1) 0%, rgb(49, 0, 0) 55%);
    border: none;
}

h1, h2, h3, p, li{
    color: #FFFFFF;
    text-shadow: 0 2px 8px #000000;
}

.boxShadow {
    box-shadow: 0 5px 155px 1px rgb(0, 0, 0);
}

.tooltip {
    --tooltip-color: #7d0000;
    --tooltip-text-color: #FFF;
}
